.cardContenedor{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.cardPadre{
    background-color: white;
    width: 100vh;
    max-width: 700px;
    min-width: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    gap: 10px;
    border: 2px solid #404040;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.78);
-moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.78);
box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.78);
}
.imagenGlobal{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    border: 1px solid #404040;
    border-radius: 10px;
}
.cardText{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardTitulo{
    font-size: 20px;
    border-bottom: 2px solid #147efb;
}
.cardIcono{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.cardIcono img{
    width: 25px;
}
.cardDescripcion{
    color: gray;
    font-size: 14px;
    margin-top: 25px;
    white-space: pre-line;
}
.cardStack{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.cardCodigo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px; 
    gap: 40px;
    cursor: pointer;
}
.cardCodigo a{
    transition: .3s;
}
.cardCodigo a:hover{
    color: #147efb;
}


@media (width <= 767px){
    .cardContenedor{
        width: 90%;
    }
    .cardPadre{
        flex-direction: column;
    }
    .imagenGlobal{
        width: 100%;
        height: 200px;
    }
    .cardDescripcion{
        white-space: none;
    }
    .cardImage{
        display: flex;
        align-items: center;
    }
}
