.alinearCard{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Bm{
    background-image: url(../../assets/img/Bmw.png);
}
.GlobeTrotter{
    background-image: url(../../assets/img/GlobeTrotter.png);
}
.Ruso{
    background-image: url(../../assets/img/Ruso.png);
}